*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo{
  height: 25px;
}

.navbar{
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
}



.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

li{
  text-decoration: none;
  list-style: none;
  font-size: 0.8rem;
  font-weight: 100;
  opacity: 0.6;
}
li:hover{
  opacity: 1;
  cursor: pointer;
}

.hero{
  background-image: url(./img/hero.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 45px;
  height: 90vh;
  position: relative;
}

.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50px;
}

.hero-content img{
  height: 50px;
}

.hero-content h2, .hero-content h3{
  font-size: 1.8rem;
  font-weight: 500;
  margin: 2px auto;
}
.buttons button:first-child{
  padding: 10px 20px;
  border-radius: 50px;
  margin: 10px;
  background-color: #0071E3;
  color: #fff;
  border: none;
}
.buttons button:last-child{
  padding: 10px 20px;
  border-radius: 50px;
  margin: 10px;
  background-color: transparent;
  color: #0071E3;
  border: 2px solid #0071E3;
}